.city-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.city-details-container h2 {
    width: 75rem;
    margin-top: 8rem;
}

.property-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.city-banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--compareBannerBlue);
    width: 80rem;
    height: 32.5rem;
}

.city-banner-info-container {
    width: 35rem;
    height: 25rem;
}

.city-banner-title {
    font-size: 2.25rem;
    font-weight: 500;
}

.city-banner-info {
    font-size: 1.25rem;
}