.city-searchBar-container {
    position: absolute;
    top: 29rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 8rem;
    z-index: 0.5;
    background-color: var(--white);
    border: none;
    border-radius: 1.25rem;
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.08);
}

#city-search {
    width: 50%;
    height: 3rem;
    border: 1px solid #CED3D8;
    border-radius: 12px;
    color: #CED3D8;
    font-size: 1.25rem;
    padding-left: 2rem;
}

#city-search option {
    color: #CED3D8;
}

.city-searchBar-container button {
    width: 30%;
    height: 3rem;
    background-color: var(--iconBlue);
    border: none;
    border-radius: 12px;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
}

@media only screen and (max-width: 770px) {
    .city-searchBar-container {
        top: 19rem;
    }
}

@media only screen and (max-width: 430px) {
    .city-searchBar-container {
        width: 20rem;
        height: 6.5625rem;
        flex-wrap: wrap;
        top: 20rem;
    }

    #city-search {
        width: 14.875rem;
        height: 2.375rem;
    }

    .city-searchBar-container button {
        width: 9.116875rem;
        height: 2.375rem;
    }
}

@media only screen and (max-width: 325px) {
    .city-searchBar-container {
        width: 90%;
    }
}