.social-banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--headerBlue);
    color: var(--white);
}

.social-banner-container h3 {
    font-size: 2.25rem;
    margin: 0;
}

.subscribe-container {
    width: 25rem;
    margin: 1rem;
}

.subscribe-container p {
    font-size: 1.25rem;
}

.subscribe-container input {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.25rem;
    padding-left: 0.5rem;
}

.subscribe-container input::placeholder {
    font-size: 1.25rem;
    padding-left: 0.5rem;
    color: var(--placeholderGray);
}

.social-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 1rem;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.social-icon p {
    margin: 0.75rem 0;
}

.space {
    margin-right: 0.5rem;
}

@media only screen and (max-width: 770px) {
    .social-banner-container h3 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 430px) {
    .social-banner-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subscribe-container {
        margin: 1rem 0;
    }

    .subscribe-container, .social-icons-container {
        width: 80%;
    }

    .subscribe-container input {
        width: 95%;
        margin: 0;
    }
}