.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.homepage-container h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 6rem;
}

.city-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.allCitiesBtn {
    text-decoration: none;
    text-align: center;
    background-color: var(--iconBlue);
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
    width: 12.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
}

.compare-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--compareBannerBlue);
    padding: 2rem;
    margin: 1rem 0;
}

.compare-banner h3 {
    font-size: 2.25rem;
    font-weight: 500;
}

.compare-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.compare-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 15.5rem;
    margin: 1rem;
    text-align: center;
}

.compare-icon {
    color: var(--iconBlue);
}

.compare-icon-title {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 1rem 0 0 0;
}

.compare-icon-container p {
    font-size: 1.25rem;
}

.search-compare-info-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 1rem 8rem 0 8rem;
}

.search-compare-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35rem;
    padding: 0 6rem;
}

.search-compare-info-container h5 {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0;
}

.search-compare-info-container p {
    font-size: 1.25rem;
}

.search-compare-icon-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.searchCompareBtn {
    background-color: var(--iconBlue);
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
    width: 15rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
}