.slider-container {
    position: relative;
    background-image: url('../../assets/cover-img.png');
    background-size: cover;
    width: 100%;
    height: 30rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-overlay{
    background: rgba(0,0,0,0.5);
    position:absolute;
    height: 100%;
    width:100%;
}

.slider-container h1, .slider-container p {
    z-index: 10;
}

.slider-container h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.1rem;
    width: 48rem;
    text-align: center;
}